
.ng-firebase-view {
}

.ng-firebase-view__navbar {
  border-bottom: 1px solid #eee;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
}

.ng-firebase-view__content {
  padding: 10px;
  overflow: scroll;
  height: 100%; 
  margin-top:60px;
}