<div>
  <div class="description" *ngIf="isDescriptionVisible">


    <h1>NG Firebase View</h1>

    <h3>Purpose of the Project:</h3>
    <p>Visualise your Firebase Database locally.</p>
    <p>Why?</p>
    <ul>
      <li>If you have a local firebase (for example firebase-server) and no other way to inspect it</li>
    </ul>

    <h3>Features</h3>
    <ul>
      <li>Displays your Firebase data</li>
      <li>Breadcrumb nav - select deeper nodes as startpoint</li>
      <li>search for text</li>
      <li>add shortcuts</li>
      <li>changelog - highlight time relevant events</li>
      <li>changelog - select change -> jump to dataTree</li>
    </ul>

    <h3>Installation - inside your application</h3>
    <ol>
      <li>install via npm</li>
      <li>import module</li>
      <li>place wrapper component (optional)</li>
      <li>initialize via Service</li>
    </ol>

    <h3>TODO:</h3>
    <ul>
      <li>Add State responses (added: green, removed: red) - probably use immutable with immutable-diff</li>
    </ul>
    <hr>
    <hr>
  </div>
  
  <ng-firebase-view></ng-firebase-view>

</div>