<div>
  <h1>NG Firebase View</h1>

  <h3>Purpose of the Project:</h3>
  <p>Visualise your Firebase Database locally.</p>
  <p>Why?</p>
  <ul>
    <li>If you have a local firebase (for example firebase-server) and no other way to inspect it</li>
  </ul>

  <h3>Installation</h3>
  <ol>
    <li>install via npm</li>
    <li>import module</li>
    <li>place wrapper component (optional)</li>
    <li>initialize via Service</li>
  </ol>

  <h3>TODO:</h3>
  <ul>
    <li>Add State responses (added: green, removed: red) - probably use immutable with immutable-diff</li>
  </ul>
  <hr>
  <hr>

  <ng-firebase-view></ng-firebase-view>
  <ng-firebase-view-changelog></ng-firebase-view-changelog>


</div>